* { margin: 0; padding: 0; }

body {
	background: white;
	color: black;
}
canvas {
	border: 1px solid #888;
	margin: 10px auto;
	display: block;
}
div {
	margin: 0 auto;
	display: block;
	width: 258px;
}
	#button {
		display: block;
		padding: 8px 0;
		width: 140px;
		text-align: center;
		color: black;
		text-decoration: none;
		background: #ddd;
		margin: 4px auto;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		-opera-border-radius: 4px;
		border-radius: 4px;
		border: 1px solid #888;
		text-shadow: 0 1px 1px #aaa;
	}
		#button:hover {
			background: #ccc;
		}
		#button:active {
			text-shadow: 0 -1px 1px #aaa;
			padding: 9px 0 7px;
		}
	p {
		margin: 10px 0;
		text-align: center;
		font-size: 12px;
		color: #888;
	}
		p a {
			color: #555;
		}
			p a:hover {
				text-decoration: none;
			}
